/* Thème sombre avec accents de couleur */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: 'Rubik';
}
h1, h2, h3 {
    font-weight: 700;
}

p, a {
    font-weight: 400;
}

#profile_pic {
    width: 150px;
    border-radius: 25%;
}
.about_me {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px; /* Largeur fixe sur écran large */
    height: 100%;
    padding: 10px;
    background-color: #252526;
    color: #d4d4d4;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 280px;
    width: calc(100% - 250px);
    overflow-y: auto;
    padding: 20px;
    background-color: #1e1e1e;
}

.infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.presentation h2, .projects h2, .hobbies h3 {
    color: #61dafb;
    border-bottom: 1px solid #3c3c3c;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 10px;;
}

.techno_stack {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    margin-top: 15px;
}

.techno_stack > div {
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px;
    background-color: #333;
    border-radius: 10px;
    color: #d4d4d4;
}

.project, .hobbies_list > div {
    margin: 20px 0;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    color: #d4d4d4;
}

a {
    color: #61dafb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .about_me {
        position: fixed;
        width: 100vw; /* Prend toute la largeur de l’écran */
        height: auto; /* La hauteur s'ajuste au contenu */
        padding: 10px;
        overflow: hidden; /* Retire le défilement pour éviter les débordements */
    }

    .container {
        margin-top: 350px;
        margin-left: 0;
        width: 100vw;
    }
}
