/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fdf8f4; /* Pastel background */
  color: #333; /* Neutral text color */
  margin: 0;
  padding: 0;
}

/* Main Section */
.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 80px);
  padding: 0 10%;
}
/* color: #e27d60*/
.page-grid {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 80%;
  margin: auto;
}

/* Navbar */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 2rem;
background-color: #fff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
font-size: 1.5rem;
font-weight: bold;
color: #e27d60; /* Pastel accent */
}
.navbar-buttons button {
padding: 0.7rem 1.2rem;
border: none;
background-color: #e27d60;
color: white;
border-radius: 10px;
cursor: pointer;
transition: all 0.3s ease;
}

.navbar-buttons button:hover {
transform: scale(1.1); /* Agrandit légèrement au survol */
background-color: #eeb2a1; /* Change la couleur */
color:rgb(185, 72, 72);
font-weight: bolder;
}


