/* Conteneur principal */
.projects-container {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  /* Supprime l'espace entre les projets */
  padding: 0;
  margin: 0;
  /* Enlever les marges pour aligner les projets */
}

/* Bloc de projet */
.project-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100vh;
  /* Chaque projet occupe toute la hauteur de la fenêtre */
  padding: 2rem 10%;
  opacity: 0;
  transform: translateY(50px);
  /* Les éléments commencent légèrement en bas */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Ajouté dynamiquement par le JS */
.project-block.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Texte du projet */
.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centrer verticalement */
  gap: 1rem;
  max-width: 90%;
  /* Limite la largeur du texte */
}

.project-content h2 {
  margin-bottom: 5px;
  color: #c56a50;
  font-size: 35px;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  text-shadow: 1px 2px 6px rgba(255, 255, 255, 0.8);

}

.project-content p {
  font-size: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px 20px;
  text-shadow: 1px 2px 6px rgba(255, 255, 255, 0.3);

  line-height: 1.8;
}

.project-content a {
  color: #c56a50;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.project-content a:hover {
  color: #eeb2a1;
}

.github_link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: black;
  padding: 12px 18px;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid white;
  transition: all 0.3s ease;
}

.github_link:hover {
  transform: scale(1.1);
  font-weight: bolder;
  background-color: rgb(46, 46, 46);
  color: black;
  border: 1px solid black;
}

/* Images */
.project-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /*Espacement entre les images*/
}

.project-images img {
  max-width: 90%;
  /* Limite la taille des images */
  max-height: 80%;
  /* Empêche les images de dépasser l'écran */
  border-radius: 15px;
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.1);
}

/* Positionnement pair/impair */
.project-images img:nth-child(odd) {
  margin-left: 10%;
  /* Décale les images impaires à gauche */
}

.project-images img:nth-child(even) {
  margin-left: auto;
  /* Décale les images paires à droite */
  margin-right: 10%;
}

.play_button {
  padding: 0.7rem 1.2rem;
  border: none;
  background-color: #e27d60;
  color: white;
  font-weight: bold;
  font-size: medium;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.play_button:hover {
  transform: scale(1.1);
  /* Agrandit légèrement au survol */
  background-color: #eeb2a1;
  /* Change la couleur */
  color: rgb(185, 72, 72);
  font-weight: bolder;
}

/* Styles spécifiques aux images du deuxième projet de base trop grandes */
.project-images .second-project {
  max-width: 50%;
  /* Réduit la taille des images */
  max-height: 50%;
  /* Limite la hauteur */
  margin: 0 auto;
  /* Centre les images */
}

/* Animation de scroll */
.project-block.appear {
  opacity: 1;
  transform: translateY(0);
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #e27d60;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #eeb2a1;
}
